@layer base {
  @font-face {
    font-family: metropolis;
    src: url("../fonts/Metropolis-Regular.otf");
  }

  @font-face {
    font-family: metropolis-medium;
    src: url("../fonts/Metropolis-Medium.otf");
  }

  html,
  body {
    font-family: metropolis;
    font-size: 16px;
  }

  body {
    overflow-y: scroll;
  }

  h1 {
    @apply text-1.5xl medium-font font-medium text-center;
  }
}
