@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: metropolis;
  src: url("../../../src/static/fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: metropolis-medium;
  src: url("../../../src/static/fonts/Metropolis-Medium.otf");
}

@font-face {
  font-family: metropolis-bold;
  src: url("../../../src/static/fonts/Metropolis-Bold.otf");
}

html,
body {
  font-family: metropolis;
  font-size: 16px;
}

.medium-font {
  font-family: metropolis-medium;
}

.bold-font {
  font-family: metropolis-bold;
}

.Cursor {
  margin-left: 1px;
  font-size: 2.2rem;
}
