@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: metropolis;
  src: url("../fonts/Metropolis-Regular.otf");
}

@font-face {
  font-family: metropolis-medium;
  src: url("../fonts/Metropolis-Medium.otf");
}

@layer components {
  html,
  body {
    font-family: metropolis;
    font-size: 16px;
  }

  body {
    overflow-y: scroll;
  }

  /* Modify React carousel package */
  .carousel .slide {
    background: none;
  }

  .medium-font {
    font-family: metropolis-medium;
  }

  .link {
    @apply text-blue-600 hover:text-blue-800 visited:text-purple-600;
  }

  .page-title {
    @apply w-full medium-font text-center text-highlight text-3.5xl mb-12;
  }
}
