.detail {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40px auto;
}

.info {
  vertical-align: middle;
}

.break-word {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.info-icon {
  padding-right: 10px;
  padding-left: 10px;
}

.info-icon-img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}