.section-container {
  padding: 20px 10px;
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: rgb(168, 168, 168);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.profile-pic {
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

.name {
  text-align: center;
  font-size: 42px;
  color: #234ef3;
  font-family: metropolis-medium;
  hyphens: auto;
}

.profession {
  text-align: center;
  font-size: 22px;
  font-family: metropolis-medium;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-item {
  padding-right: 10px;
}

.footer-icon {
  width: 30px;
  height: 30px;
}

