@font-face {
  font-family: metropolis;
  src: url("../static/fonts/Metropolis-Regular.otf")
}

@font-face {
  font-family: metropolis-medium;
  src: url("../static/fonts/Metropolis-Medium.otf")
}

@font-face {
  font-family: metropolis-bold;
  src: url("../static/fonts/Metropolis-Bold.otf")
}

.App {
  --app-font-size: 16px;
  font-family: metropolis;
  font-size: var(--app-font-size);
}

.main-content-container {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0px;
}

.section-title {
  text-align: center;
  font-size: 34px;
  color: #234ef3;
  font-family: metropolis-medium;
  hyphens: auto;
  margin-bottom: 50px;
  padding: 5px;
}

.section-container {
  padding: 0px 40px;
}

.icon-container {
  padding-right: 10px;
  padding-left: 10px;
}

.icon-img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}