.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro {
  text-align: center;
  font-size: 22px;
  font-family: metropolis-medium;
  line-height: 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-icon-img {
  width: 30px;
  height: 30px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-details-item {
  margin: 0 20px;
}

@media (max-width: 480px) {
  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .contact-details-item {
    margin: 0px;
  }
}