.detail {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40px auto;
  margin-bottom: 5px;
}

.break-word {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow: auto;
}