.projects-container {
  text-align: center;
  font-size: 20px;
}

.project-section {
  font-size: 22px;
  font-family: metropolis-medium;
  letter-spacing: 1px;
  color: #234ef3;
  text-align: left;
}

.project-section::after {
  margin: 10px 0 30px 0;
  content: '';
  width: 200px;
  border-bottom: 3px solid #234ef3;
  display: block;
}

.npm-packages-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.npm-package {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
  border: 1px #234df341 solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.package-name {
  font-size: 22px;
  /* font-weight: bold; */
  background-color: #CA3736;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.package-link {
  text-decoration: none;
  color: white;
}

.npm-stats {
  margin-top: 20px;
}

.coming-soon {
  margin: 70px auto;
  font-size: 26px;
}



@media (max-width: 900px) {
  .npm-packages-container {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
  }
}

@media (max-width: 480px) {
  .npm-stats {
    display: none;
  }
}



